html {
  background-color: rgb(36, 36, 36);
  color: white;
}
* {
  margin: 0;
  padding: 0;
}
h1 {
  color: antiquewhite;
  text-align: center;
  margin-bottom: 3rem;
  margin-top: 1rem;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
ul,
ol {
  margin-bottom: 2rem;
}
main {
  flex-grow: 2;
}
footer {
  background-color: antiquewhite;
  color: black;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
